@import "fonts.css";

table, th, td {
	border: 1px solid black;
}

a {
	text-decoration: none;
}

td {
	padding: 5px;
}

.header {
	padding: 30px;
	margin-bottom: 40px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-color: #1c7430;
}

.header__logo-link {
	width: 14%;
}

.header__logo {
	width: 100%;
}

.header__nav {
	margin: 0 auto;
}

.header__list {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.header__item:not(:last-child) {
	margin-right: 25px;
}

.header__link {
	font-size: 20px;
	color: #ffffff;
}

.table__container{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.table {
	width: 100%;
}

.table__th_button {
	text-align: center;
}

.table__th-heading {
	padding: 10px;
	font-size: 18px;
	font-weight: 600;
}

.table__button {
	position: relative;
	padding: 5px 26px !important;
	border: none;
	border-radius: 3px;
	color: #ffffff;
	cursor: pointer;
}

.table__button:disabled {
	opacity: 0.5;
	pointer-events: none;
}

.table__button:disabled .spinner-action {
	display: inline-block;
}

.table__button_edit {
	margin-right: 15px;
	background-color: #2ca02c !important;
}

.table__button_delete {
	margin-right: 15px;
	background-color: #a40000 !important;
}

.table__button_restore {
	background-color: #005cbf !important;
}

.table__heading {
	margin-bottom: 20px;
	font-weight: 600;
	font-size: 25px;
	line-height: 25px;
	color: #000000;
}

.form {
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.form__container, .delete {
	width: 20%;
	max-width: 1000px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 3px;
	overflow: hidden;
	background-color: white;
	box-shadow: 5px 5px 30px rgba(0, 0, 0, .3);
}

.form__box, .delete__box {
	display: none;
}

.form__box::before, .delete__box::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
}

.form__box.open::before, .delete__box.open::before {
	display: block;
}

.open {
	display: block;
}

.form__input {
	padding: 15px 0;
	margin-bottom: 20px;
	border: 1px solid #8d8d8d;
	width: 100%;
}

.form__input:focus {
	outline: 1px solid #1c7430;
}

.form__main-container_admin {
	width: 27%;
}

.form__login-container_admin {
	display: flex;
	justify-content: center;
}

.form__button {
	padding: 15px 20px;
	margin: 0 auto;
	border: none;
	background-color: #1c7430;
	color: #ffffff;
	transition: background-color .3s ease-in-out;
	cursor: pointer;
}

.form__button:hover {
	background-color: #2ca02c;
}

.form__label {
	margin-bottom: 7px;
	font-weight: 600;
	font-size: 15px;
	line-height: 15px;
	color: #000000;
}

.form__close {
	position: absolute;
	top: 2%;
	right: 2%;
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.form__close-icon {
	transition: color .3s ease-in-out;
}

.form__close:hover .form__close-icon {
	color: #9B2847;
}

.delete {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.delete__form-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.delete__question {
	margin-bottom: 15px;
	font-size: 15px;
	line-height: 15px;
	color: #000000;
}

.delete__button {
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	color: #ffffff;
}

.delete__button-yes {
	background-color: #a40000;
}

.delete__button-no {
	background-color: #8d8d8d;
}

.table__button-add {
	padding: 10px 35px;
	margin-bottom: 20px;
	background-color: #1c7430;
	border-radius: 5px;
	border: none;
	color: #ffffff;
	cursor: pointer;
	transition: background-color .3s ease-in-out;
}

.table__button-add:hover {
	background-color: #2ca02c;
}

#item-list {
	width: 100%;
}

.table>:not(caption)>*>* {
	background-color: initial;
}

.spinner-action {
	position: absolute;
	margin-left: 5px;
	width: 15px;
	height: 15px;
	display: none;
}
